{% extends "base.html" %} {% block section %}
<section class="container form-container">
    <h3>New transaction</h3>
    
    <form action="/purchase" method="post" id="coins_form" class="coins_form">
        <fieldset class="wrapper">
            <label for="from_coin">From</label>
            <select name="from_coin" form="coins_form" value={{data.from_coin}}>
                <option selected disabled>--Select a coin--</option>
                <option {% if data.from_coin == "EUR" %} selected {% endif %}>EUR</option>
                <option {% if data.from_coin == "ETH" %} selected {% endif %}>ETH</option>
                <option {% if data.from_coin == "BNB" %} selected {% endif %}>BNB</option>
                <option {% if data.from_coin == "ADA" %} selected {% endif %}>ADA</option>
                <option {% if data.from_coin == "DOT" %} selected {% endif %}>DOT</option>
                <option {% if data.from_coin == "BTC" %} selected {% endif %}>BTC</option>
                <option {% if data.from_coin == "USDT" %} selected {% endif %}>USDT</option>
                <option {% if data.from_coin == "XRP" %} selected {% endif %}>XRP</option>
                <option {% if data.from_coin == "SOL" %} selected {% endif %}>SOL</option>
                <option {% if data.from_coin == "MATIC" %} selected {% endif %}>MATIC</option>
            </select>
    
            <label for="to_coin">To:</label>
            <select name="to_coin" form="coins_form" value={{data.to_coin}}>
                <option selected disabled>--Select a coin--</option>
                <option {% if data.to_coin == "EUR" %} selected {% endif %}>EUR</option>
                <option {% if data.to_coin == "ETH" %} selected {% endif %}>ETH</option>
                <option {% if data.to_coin == "BNB" %} selected {% endif %}>BNB</option>
                <option {% if data.to_coin == "ADA" %} selected {% endif %}>ADA</option>
                <option {% if data.to_coin == "DOT" %} selected {% endif %}>DOT</option>
                <option {% if data.to_coin == "BTC" %} selected {% endif %}>BTC</option>
                <option {% if data.to_coin == "USDT" %} selected {% endif %}>USDT</option>
                <option {% if data.to_coin == "XRP" %} selected {% endif %}>XRP</option>
                <option {% if data.to_coin == "SOL" %} selected {% endif %}>SOL</option>
                <option {% if data.to_coin == "MATIC" %} selected {% endif %}>MATIC</option>
            </select>
                
            <label for="from_quantity">Money to invest:</label>
            <div class="box-form">
                <input type="number" id="from_quantity" name="from_quantity" value={{data.from_quantity}} placeholder ="Enter amount" step="0.01" required>
                    
                <button type="submit" id="calculate_button" name="calculate"  class="calculate_button"">
                    <span class="material-symbols-outlined"> calculate </span>
                </button>
            </div>
        </fieldset>

        <fieldset class="wrapper">
            <label for="to_quantity">Money to receive:</label>
            <input type"" id="to_quantity" name="to_quantity" readonly value={{data.to_quantity}}>
            
            <label for="unit_price">Unit price:</label>
            <input type="" id="unit_price" name="unit_price" readonly value={{data.unit_price}}>
            
            {% if purchase_error == 'bt_disable' %}
            <button type="submit" id="buy_button" name="buy" disabled>Buy</button>
            {% endif %}
            {% if purchase_error == 'bt_enable' %}
            <button type="submit" id="buy_button" name="buy">Buy</button>
            {% endif %}
        </fieldset>

    </form>

    <article class="error-section">
        <ul>
            {%for item in alertError %}
            <li class="error">{{item}}</li>
            {% endfor %}
        </ul>
    </article>
</section>
{% endblock %}
