{% extends "base.html" %} {% block section %}
<h3>New transaction</h3>

<form action="/purchase" method="post" id="coins_form" class="coins_form">
    <fieldset class="c-left">
        <label for="from_coin">From</label>
        <select name="from_coin" form="coins_form">
            <option value="{{dataForm.from_coin}}">EUR</option>
            <option value="{{dataForm.from_coin}}">ETH</option>
            <option value="{{dataForm.from_coin}}">BNB</option>
            <option value="{{dataForm.from_coin}}">ADA</option>
            <option value="{{dataForm.from_coin}}">DOT</option>
            <option value="{{dataForm.from_coin}}">BTC</option>
            <option value="{{dataForm.from_coin}}">USDT</option>
            <option value="{{dataForm.from_coin}}">XRP</option>
            <option value="{{dataForm.from_coin}}">SOL</option>
            <option value="{{dataForm.from_coin}}">MATIC</option>
        </select>

        <label for="from_quantity">Q:</label>
        <input
            type="number"
            id="from_quantity"
            name="from_quantity"
            value="{{dataForm.from_quantity}}"
        />

        <a href="" type="submit">
            <span class="material-symbols-outlined"> calculate </span>
        </a>
    </fieldset>

    <fieldset class="c-right">
        <label for="to_coin">To:</label>
        <select name="to_coin" form="coins_form">
            <option value="{{dataForm.to_coin}}">EUR</option>
            <option value="{{dataForm.to_coin}}">ETH</option>
            <option value="{{dataForm.to_coin}}">BNB</option>
            <option value="{{dataForm.to_coin}}">ADA</option>
            <option value="{{dataForm.to_coin}}">DOT</option>
            <option value="{{dataForm.to_coin}}">BTC</option>
            <option value="{{dataForm.to_coin}}">USDT</option>
            <option value="{{dataForm.to_coin}}">XRP</option>
            <option value="{{dataForm.to_coin}}">SOL</option>
            <option value="{{dataForm.to_coin}}">MATIC</option>
        </select>

        <label for="to_quantity">Q:</label>
        <input
            type="number"
            id="to_quantity"
            name="to_quantity"
            value="{{dataForm.to_quantity}}"
        />

        <label for="unit_price">U.P:</label>
        <input type="number" id="unit_price" />

        <button type="submit">Buy</button>
    </fieldset>
</form>
{% endblock %}
