{% extends "base.html" %} {% block section %}
<h3>New transaction</h3>

<form action="/purchase" id="coins_form" class="coins_form">
    <fieldset class="c-left">
        <label for="from_coin">From</label>
        <select name="from_coin" form="coins_form">
            <option value="EUR">EUR</option>
            <option value="ETH">ETH</option>
            <option value="BNB">BNB</option>
            <option value="ADA">ADA</option>
            <option value="DOT">DOT</option>
            <option value="BTC">BTC</option>
            <option value="USDT">USDT</option>
            <option value="XRP">XRP</option>
            <option value="SOL">SOL</option>
            <option value="MATIC">MATIC</option>
        </select>

        <label for="from_quantity">Q:</label>
        <input type="number" id="from_quantity" name="from_quantity" />

        <a href="" type="submit">
            <span class="material-symbols-outlined"> calculate </span>
        </a>
    </fieldset>

    <fieldset class="c-right">
        <label for="to_coin">To:</label>
        <select name="to_coin" form="coins_form">
            <option value="EUR">EUR</option>
            <option value="ETH">ETH</option>
            <option value="BNB">BNB</option>
            <option value="ADA">ADA</option>
            <option value="DOT">DOT</option>
            <option value="BTC">BTC</option>
            <option value="USDT">USDT</option>
            <option value="XRP">XRP</option>
            <option value="SOL">SOL</option>
            <option value="MATIC">MATIC</option>
        </select>

        <label for="to_quantity">Q:</label>
        <input type="number" id="to_quantity" name="to_quantity" />

        <label for="unit_price">U.P:</label>
        <input type="number" id="unit_price" />

        <button type="submit">Buy</button>
    </fieldset>
</form>
{% endblock %}
