{% extends "base.html" %} {% block section %}

<nav class="container">
    <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/purchase">Purchase</a></li>
        <li><a {% if href=="/status" %} disabled {% endif %}>Status</a></li>
    </ul>
</nav>

<section class="container">
    <h3>Investment status</h3>
    
    <table class="status_table">
        <tr>
            <th>Invested:</th>
            <td>{{money_invested}}</td>
        </tr>
        <tr>
            <th>Recovered:</th>
            <td>{{money_recovered}}</td>
        </tr>
    
        <tr>
            <th>Purchase value:</th>
            <td>{{money_invested - money_recovered}}</td>
        </tr>
        <tr>
            <th>Current value</th>
            <td></td>
        </tr>
    </table>
    
    <a class="status_button" href="/">Return</a>
</section>
{% endblock %}
