{% extends "base.html" %} {% block section %}
<section class="container">
    <h3>Investment status</h3>

    <table class="status_table" role="grid">
        <tr>
            <th>Invested:</th>
            <td>{{money_invested}}</td>
        </tr>

        <tr>
            <th>Recovered:</th>
            <td>{{money_recovered}}</td>
        </tr>

        <tr>
            <th>Purchase value:</th>
            <td>{{purchase_value}}</td>
        </tr>

        <tr>
            <th>Current value:</th>
            <td>{{current_value}}</td>
        </tr>

        <tr>
            <th>Profit/Loss Status</th>
            {% if pl_status == 'loss' %}
            <td class="loss">{{profit_loss}}</td>
            {% endif %} {% if pl_status == 'profit' %}
            <td class="profit">{{profit_loss}}</td>
            {% endif %}
        </tr>
    </table>

    <a class="status_button" href="/">Return</a>
</section>
{% endblock %}
