header,
footer {
    background-color: var(--my-primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 50px 1fr auto;
    margin: 0;
}

/*Purchase page*/
.calculate_button {
    display: flex;
    justify-content: center;
    width: 25px;
    padding: 0;
    margin: auto;
    grid-area: calc-button;
}

/*Status page*/
.status_table {
    margin: auto;
    width: 50vw;
}

.status_button {
    display: flex;
    justify-content: space-around;
}
